<form [formGroup]="limitsForm">
  <mat-form-field class="mb-4">
    <mat-label i18n="@@takeProfit">Take-profit</mat-label>
    <input class="take-profit-input" matInput type="number" formControlName="takeProfit" placeholder="Upper limit" i18n-placeholder="@@upperLimitPlaceholder" />
    <mat-error *ngIf="limitsForm.controls.takeProfit.errors">
      <ng-container>{{ limitsForm.controls.takeProfit.errors.takeProfitInvalid }}</ng-container>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label i18n="@@stopLoss">Stop-loss</mat-label>
    <input class="stop-loss-input" matInput type="number" formControlName="stopLoss" placeholder="Lower limit" i18n-placeholder="@@lowerLimitPlaceholder" />
    <mat-error *ngIf="limitsForm.controls.stopLoss.errors">
      <ng-container>{{ limitsForm.controls.stopLoss.errors.stopLossInvalid }}</ng-container>
    </mat-error>
  </mat-form-field>
</form>
