<section class="flex flex-col gap-4 bg-gray-50 p-4 rounded-lg shadow-lg h-full">
  <div class="flex-1 overflow-auto">
    <h3 class="text-lg font-bold text-gray-700 mb-2">Asks</h3>
    <mat-table class="w-full text-sm bg-white rounded-lg shadow" [dataSource]="asks">
      <ng-container matColumnDef="Price">
        <mat-header-cell *matHeaderCellDef class="py-2 font-bold text-red-500"> Price </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngStyle]="{'color': 'red'}" class="py-1 text-red-500">
          {{ element.price | number: '1.2-2' }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Amount">
        <mat-header-cell *matHeaderCellDef class="py-2 font-bold"> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element" class="py-1">
          {{ element.amount | number: '1.4-4' }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <mat-divider class="border-t my-4"></mat-divider>

  <div class="flex-1">
    <h3 class="text-lg font-bold text-gray-700 mb-2">Bids</h3>
    <mat-table [dataSource]="bids" class="w-full text-sm bg-white rounded-lg shadow">
      <ng-container matColumnDef="Price">
        <mat-header-cell *matHeaderCellDef class="py-2 font-bold text-green-500"> Price </mat-header-cell>
        <mat-cell *matCellDef="let element" [ngStyle]="{'color': 'green'}" class="py-1 text-green-500">
          {{ element.price | number: '1.2-2' }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Amount">
        <mat-header-cell *matHeaderCellDef class="py-2 font-bold"> Amount </mat-header-cell>
        <mat-cell *matCellDef="let element" class="py-1">
          {{ element.amount | number: '1.4-4' }}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</section>
