<div>
  <apx-chart [series]="chartSeries"
             [chart]="chartOptions.chart"
             [xaxis]="chartOptions.xaxis"
             [title]="chartOptions.title">
  </apx-chart>
  <a [routerLink]="['/', Routes.CURRENCY, currencyPair]" i18n>Additional Info</a>
  <div class="flex gap-3">
    <mat-form-field>
      <mat-label i18n>Amount of crypto</mat-label>
      <input matInput type="number" [(ngModel)]="amount" />
      @if (amount) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="amount=0">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <button mat-raised-button (click)="buy()" i18n="@@buyButton">Buy</button>
    <button mat-raised-button i18n="@@sellButton">Sell</button>
    <mat-form-field>
      <mat-label i18n>Interval</mat-label>
      <mat-select [(value)]="selectedInterval" (selectionChange)="onIntervalChange($event)">
        @for (interval of intervals; track $index) {
          <mat-option [value]="interval">{{ interval }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
  <app-limit-order [price$]="price$"></app-limit-order>
</div>
